body{ margin: 0;  padding: 0;  background-color: #efefef;  }
a{  text-decoration: none;  }
ol,ul{  list-style: none;  }
*{  margin: 0;  padding: 0;  }
.clearfix::after{  content: '';  display: block;  clear: both;  }
[data-x].offset{  transform: translateY(100px);  }
[data-x]{  transform: translateY(0);  transition: all 0.5s;  }
.topNavBar{  padding: 20px 0px;  position: fixed;  top:0;  left:0;  width: 100%;  transition: all 1s;  color: #b7b7b7;  }
.topNavBar.sticky{  background: white;  padding: 10px 0;  z-index: 1;  box-shadow: 0 0 10px rgba(0,0,0,0.25);  color: #9a9a9a;  }
.topNavBar-inner{  padding: 0px 16px;  }
.topNavBar .logo{  font-size: 24px;  font-weight: bold;  font-family: 'Arial Black';  padding-top: 4px;  padding-bottom: 4px;  }
.topNavBar .logo .rs{  color: #e6686a;  margin-right: 4px;  }
.topNavBar .logo .card{  color: #9A9DA2;  }
.topNavBar nav>ul{  list-style: none;  padding-top: 1px;  margin: 0;  }
.topNavBar nav{  font-size: 12px;  padding-top: 7px;  padding-bottom: 5px;  }
.topNavBar nav>ul>li{  float: left;  margin-left: 17px;  margin-right: 17px;  position: relative;  }
.topNavBar nav ul li a{  color: inherit;  font-weight: bold;  padding-top: 5px;  padding-bottom: 5px;  display:block;  border-bottom: 3px solid transparent;  position: relative;  }
.topNavBar nav > ul > li.active > a::after ,.topNavBar nav >ul>li.highlight >a::after{  content: '';  display: block;  position: absolute;  top:100%;  left:0;  width: 100%;  background: #e06567;  height: 3px;  animation: menuSlide .3s;  }
@keyframes menuSlide{ 0%{width: 0;} 100%{width: 100%;} }
.topNavBar .submenu{  display: none;  position: absolute;  right: 0;  top:100%;  background: white;  color:#3d4451;  box-shadow: 0 0 5px rgba(0,0,0,0.5);  }
.topNavBar li.active> .submenu{  display: block;  animation: submenuSlide .3s;  }
@keyframes submenuSlide{ 0%{  margin-right:100%;  } 100%{  margin-right: 0;  } }
.topNavBar .submenu > li{  white-space: nowrap;  padding: 5px 10px;  }
.banner{  background-image:url(./img/rs-cover.jpg);  height:515px;  background-position: center center;  background-size: cover;  }
.banner .mask{  height: 515px;  background-color: rgba(0, 0, 0, 0.8);}
.userCard{  max-width: 940px;  margin: 0 auto;  background-color: #ffffff;  }
.userCard .picture{  float: left;  }
.userCard .text{  float: left;  margin-left: 65px;  max-width: 470px;  }
.pictureAndText{  padding: 50px;  }
.userCard .welcome{  background: #e6686a;  color: white;  display: inline-block;  line-height: 22px;  padding: 4px 16px;  position: relative;  margin-bottom: 10px;  }
.userCard .welcome .triangle{  display: block;  position: absolute;  border: 10px solid transparent;  width: 0;  border-left-color: #e6686a;  border-top-width:0;  left: 4px;  top:100%  }
.userCard .text h1{  margin-top: 18px;  }
.userCard .text hr{  margin: 20px 0;  }
.userCard dl dd, .userCard dl dt{  float: left;  padding: 5px 0;  }
.userCard dl dt{  width: 30%;  font-weight: bold;  }
.userCard dl dd{  width: 70%;  color:#9da0a7;  }
.userCard footer.media{  background: #E6686A;  text-align: center;  }
.userCard > footer.media > a{  display: inline-block;  width: 40px;  line-height: 30px;  padding: 5px 0;  border-radius: 50%;  margin: 16px;  }
.userCard > footer.media > a:hover{  background: #CF5D5F;  }
.userCard svg{  width: 30px;  height: 30px;  fill: white;  vertical-align: top;  }
main{  margin-top: -340px;  }
.downloadResume-wrapper{  text-align: center;  }
.downloadResume{  font-size: 14px;  line-height: 16px;  padding: 21px 55px ;  border: 1px solid #cdcfd1;  background: #efefef;  display: inline-block;  border-radius: 2px;  color:#3d4451;  font-weight: bold;  margin: 32px 0;  transition: box-shadow 0.2s;  }
.downloadResume:hover{  box-shadow: 0 4px 13px 0 rgba(0,0,0,0.2);  }
.selfIntroduction{  max-width: 940px;  margin-left: auto;  margin-right: auto;  text-align: center;  font-size: 18px;  line-height: 1.8;  }
.skills,.portfolio{  max-width: 940px;  margin-left: auto;  margin-right: auto;  margin-top: 60px;  }
.skills h2,.portfolio h2{  text-align: center;  font-size: 34px;  line-height: 1.2;  font-weight: 600;  color:#3d4451;  }
.skills>ol{  background: white;  margin-top: 30px;  padding: 42px 50px 10px;  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);  }
.skills>ol>li{  float: left;  width: 48%;  list-style: none;  }
.progressBar{  height: 5px;  background: #FAE1E1; border-radius: 2px;  margin: 4px 0 40px;  }
.progressBar > .progress {   transform: translateX(0); transition: all 1s;height: 100%;  background: #E6686A;  width: 70%;  border-radius: 2px;  }
section.skills.offset .progress{  transform: translateX(-100%);  }
.skills>ol>li:nth-child(even){  float:right;  }
.portfolio{  text-align: center;  margin-bottom: 100px;  }
.portfolio nav{  text-align: center;  }
.portfolio{  text-align: center;  margin-bottom: 100px;  }
.portfolio nav{  display: inline-block;  text-align: center;  margin-top: 32px;  vertical-align: top;  }
.portfolio nav>ol{  margin: 0 auto;  display: inline-block;  vertical-align: top;  }
.portfolio nav>ol>li{  margin-left: 40px;  float: left;  cursor: pointer;  }
.portfolio nav>ol>li:first-child{  margin-left: 0;  }
.portfolio nav>.bar{  height: 5px;  background: white;  margin-top: 5px;  border-radius: 2px;  margin-bottom: 28px;  }
.portfolio nav .bar-inner{  height: 100%;  background: #E6686A;  border-radius: 2px;  transition: all 0.2s;  }
.portfolio  nav .bar.state-1 .bar-inner{  margin-left: 0;  width: 50px;  }
.portfolio  nav .bar.state-2 .bar-inner{ margin-left: 65px;  width: 50px;  }
.portfolio nav .bar.state-3 .bar-inner{  margin-left: 140px;  width: 96px;  }
.portfolio .works{  position: relative;  }
section.portfolio .works > .big, section.portfolio .works > .small {  position: absolute;  }
